.navigation-v {
    align-items: flex-start;
    display: inline-flex;
    left: 20px;
    position: relative;
    top: 20px;
}

.navigation-v .navigation-v2 {
    left: unset !important;
    top: unset !important;
}

.navigation-v .navigation-instance {
    color: #424242 !important;
}

.navigation-v .navigation-v-instance {
    background-color: #6c62d7 !important;
}
